.banner {
    max-width:100%;
    min-height:220px;
    margin: auto;
    border-radius: 25px;
    margin-bottom: 2.5rem;
    user-select: none;
    display: flex;
    position: relative;
    color: #f7f7f7;
    background-image: url(https://images.unsplash.com/photo-1593201464350-96ec57065aa2);
    background-position: center;
    background-size: cover;
}

@media screen and (width <= 768px) {
    .banner {
        min-height:110px;
    }
}

.banner::before {
    position:absolute;
    content: "";
    inset: 0;
    border-radius: 25px;
    opacity:0.3;
    background: #000000;
}

.banner__h1{
    position: absolute;
    color: white;
    margin: 0px;
    width: 100%;
    text-align: center;
    font-weight: 500;
    top: 50%;
    font-size: 3rem;
    margin-right:5%;
    transform: translateY(-50%);
}

@media screen and (width <= 1024px) {
    .banner__h1 {
        font-size: 1.5rem;
        width:70%;
        margin-left:1rem;
        text-align: left;
    }
}