.collapse {
    margin-bottom: 1rem;
    flex-basis: 50%;
    overflow: hidden;
}

@media screen and (width <= 768px) {
    .collapse {
        margin-bottom: 0;
    }
}

.collapse__title {
    display : flex;
    justify-content: space-between;
    background-color: #FF6060;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    padding : 0.9em 1.25em;
    margin-bottom: 0;
    position :relative;
}

@media screen and (width <= 768px) {
    .collapse__title {
        padding : 0.4em 0.75em;
        border-radius: 5px;
    }
}

.collapse__title span {
    font-size:1.125rem;
    font-weight:500;
    color: #FFFFFF;
}

@media screen and (width <= 768px) {
    .collapse__title span {
        font-size:0.8125rem;
    }
}

.collapse__icon--visible {
    color: #FFFFFF;
    font-size:1.5rem;
    position:absolute;
    right:0;
    margin-right:1.25rem;
}

@media screen and (width <= 768px) {
    .collapse__icon--visible {
        margin-right:0.5rem;
        font-size:1.25rem;
    }
}

.collapse__icon--hidden {
    display:none;
}

.collapse__content {
    background-color: #F7F7F7;
    border-radius: 5px;
    font-weight: 400;
    position: relative;
    top: -0.3rem;
    z-index: -1;
    margin-top:0;
    padding: 2em 1.25em;
    text-align: justify;
    transition: transform 0.5s ease-in-out;
}

.collapse--default .collapse__content {
    min-height: 250px;
    font-size: 1.125rem;
    line-height: 2rem;
}

.collapse--about .collapse__content {
    min-height: 145px;
    font-size: 1.5rem;
    line-height: 2.125rem;
}

@media screen and (width <= 768px) {
    .collapse--about .collapse__content, .collapse--default .collapse__content {
        min-height: 140px;
        font-size: 0.75rem;
        line-height: 1rem;
    }
}

.collapse__content--visible { 
    transform: translateY(0);
}

.collapse__content--hidden {
    transform: translateY(-100%);
}

.collapse--about .collapse__content--hidden {
    display:none;
}


