.footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    min-height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:2rem;
}

.footer__text {
    font-size:1.5rem;
}

@media screen and (width <= 768px) {
    .footer__text {
        font-size:0.75rem;
    }
}