.housing-page {
    color: #FF6060;
    margin-top:-2.75rem;
}

.housing-page__collapses {
    display: flex;
    gap: 4.75rem;
}

@media screen and (width <= 768px) {
    .housing-page__collapses {
        flex-direction: column;
        gap:1.25rem;
    }
}

.housing-page__collapses li {
    list-style-type: none;
}