.card {
    background: linear-gradient(to top, #863535, #ff6060);
    border-radius: 10px;
    display: grid;
    flex-basis: 30%;
    width:100%;
    margin-bottom:3%;
}

.card:last-child {
    margin-right:auto;
    margin-left:5%;

}

@media screen and (width <= 1024px) {
    .card {
        flex-basis: 100%;
    }
    .card:last-child {
        margin-right:unset;
        margin-left:unset;
    
    }
}

.card a {
    width:100%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content:flex-end;
    height:340px;
}

@media screen and (width <= 1024px) {
    .card a {
        height:255px;
    }
}

.card__image {
    width:95%;
    object-fit:cover;
    border-radius: 10px;
    height:95%;
    margin:auto;
    filter:brightness(0.75);
}

.card__title {
    width:50%;
    font-size:1.125rem;
    margin-left: 5%;
    margin-bottom: 5%;
    color: #ffffff;
    position:absolute;
}