.housing-page__header {
    display: flex;
}

@media screen and (width <= 768px) {
    .housing-page__header {
        flex-direction: column;
    }
}

.housing-page__title {
    flex-grow: 1;
}

.housing-page__title h1 {
    font-weight: 500;
    margin-block:0;
    font-size: 2.25rem;
}
.housing-page__title h2 {
    font-weight: 500;
    margin-top:0;
    font-size: 1.125rem;
}

.housing-page__tags {
    display : grid;
    grid-template-columns: repeat(auto-fit, minmax(115px, 150px));
    gap: 1rem;
}

.housing-page__tags span {
    background-color : #FF6060;
    color: #FFFFFF;
    padding: 0.3em 1em;
    border-radius: 10px;
    text-align: center;
}

.housing-page__owner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

@media screen and (width <= 768px) {
    .housing-page__owner {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

.housing-page__owner__details {
    display : flex;
    gap: 0.7rem;
}
@media screen and (width <= 768px) {
    .housing-page__owner__details {
        order: 1;
    }
}

.housing-page__owner h3 {
    margin-block: 0;
    font-size: 1.125rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.housing-page__owner__badge {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color:#C4C4C4;
}

.housing-page__owner__star .fa-star {
	color: #E3E3E3;
	padding: 0.5rem;
}

.housing-page__owner__star i.red {
	color: #FF6060;
}