.card {
    background: linear-gradient(to top, #863535, #ff6060);
    border-radius: 10px;
    display: grid;
    flex-basis: 30%;
    align-items: end;
    width:100%;
    min-height:340px;
    margin-bottom:3%;
}

@media screen and (width <= 1074px) {
    .card {
        flex-basis: 100%;
    }
}

.card__title {
    width:50%;
    font-size:18px;
    margin-left: 5%;
    margin-bottom: 5%;
    color: #ffffff;
}