.housing-page__header {
    display: flex;
    margin-bottom:1.5rem;
}

@media screen and (width <= 768px) {
    .housing-page__header {
        flex-direction: column;
        margin-bottom:1rem;
    }
}

.housing-page__title {
    flex-grow: 1;
}

.housing-page__title h1 {
    font-weight: 500;
    margin-block:0;
    font-size: 2.25rem;
}

@media screen and (width <= 768px) {
    .housing-page__title h1 {
        font-size : 1.125rem;
    }
}

.housing-page__title h2 {
    font-weight: 500;
    margin-top:0;
    font-size: 1.125rem;
    margin-bottom:1.5rem;
}

@media screen and (width <= 768px) {
    .housing-page__title h2 {
        font-size : 0.875rem;
        margin-bottom:0.75rem;
    }
}

.housing-page__tags {
    display : grid;
    grid-template-columns: repeat(auto-fit, minmax(115px, 180px));
    gap: 1rem;
}

@media screen and (width <= 768px) {
    .housing-page__tags {
        grid-template-columns: repeat(auto-fit, minmax(84px, 115px));
        margin-bottom:1rem;
    }
}

.housing-page__tags span {
    background-color : #FF6060;
    color: #FFFFFF;
    padding: 0.3em 1em;
    border-radius: 10px;
    text-align: center;
    font-size : 0.875rem;
}

@media screen and (width <= 768px) {
    .housing-page__tags span {
        font-size : 0.625rem;
    }
}

.housing-page__owner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

@media screen and (width <= 768px) {
    .housing-page__owner {
        flex-direction: row;
        align-items: center;
    }
}

.housing-page__owner__details {
    display : flex;
    gap: 0.7rem;
    align-items: center;
}

@media screen and (width <= 768px) {
    .housing-page__owner__details {
        order: 1;
    }
}

.housing-page__owner h3 {
    margin-block: 0;
    font-size: 1.125rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

@media screen and (width <= 768px) {
    .housing-page__owner h3 {
        font-size : 0.75rem;
    }
}

.housing-page__owner__badge {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background-color:#C4C4C4;
}

@media screen and (width <= 768px) {
    .housing-page__owner__badge {
        height: 32px;
        width: 32px;
    } 
}

.housing-page__owner__badge img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.housing-page__owner__star {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}

.housing-page__star__icon {
	color: #E3E3E3;
	padding: 0.2rem;
    font-size: 1.7rem;
}

@media screen and (width <= 768px) {
    .housing-page__star__icon {
        font-size: 0.9rem;
        padding: 0.1rem;
    }
}

.red-star {
	color: #FF6060;
}